.btn-group{
	@include Align-middle;
	.btn{
		margin: 0 .4rem;
	}
}
.btn-group-justified{
	@include Clear;
	padding-top: 10px;
	//margin-bottom: -20px;
}

.btn{
	@include Vertical-inline;
	height: 4.7rem;
	padding: 0 1rem;
	box-sizing: border-box;
	line-height: 1;
	color:#2B2B2B;
	&-default{
		width: 100%;
		color: #fff;
		border-radius: 1rem;
		font-size: 1.4rem;
		border: 1px solid #B4B8BF;
		background-color: #B4B8BF;
		pointer-events: none;
		@include Bold;
		&.noRadius {
			border-radius: 0;
		}
		&.active {
			border: 1px solid #F04040;
			background-color: #F04040;
			pointer-events: auto;
		}
	}
	&-red {
		width: 100%;
		color: #fff;
		border-radius: 1rem;
		font-size: 1.4rem;
		border: 1px solid #F04040;
		background-color: #F04040;
		@include Bold;
		@include Align-middle;
		border-radius: 0;
	}
	&-white {
		width: 100%;
		color: #F04040;
		border-radius: 1rem;
		font-size: 1.4rem;
		border: 1px solid #fff;
		background-color: #fff;
		@include Bold;
		@include Align-middle;
		border-radius: 0;
	}
	&-orange {
		width: 100%;
		color: #F04040;
		border-radius: 1rem;
		font-size: 1.4rem;
		border: 1px solid #FDE4E4;
		background-color: #FDE4E4;
		@include Bold;
		@include Align-middle;
		border-radius: 0;
	}
	&-simple{
		border: 1px solid #ccc;
		height: 2.8rem;
		border-radius: 1.5rem;
		font-size:1.1rem;
		padding:0 .9rem;
		background-color: #fff;
		&.active{
			color: #0074b2;
			border-color: #0074b2;
		}
		&.black {
			color: #fff;
			border-color: #2B2B2B;
			background-color: #2B2B2B;
		}
		&.mid {
			height: 3.2rem;
			padding: 0 1.7rem;
		}
	}
	&-toggle {
		width: 1.7rem;
		height: 1.7rem;
		position: relative;
		cursor: pointer;
		&:after {
			display: block;
			content: '';
			@include Position($top: 50%, $right: 50%);
			@include Background($sprite:'ico-arrow-down', $type:'png', $size:100% auto, $position:center center);
			width: .9rem;
			height: .9rem;
			margin: -.45rem -.45rem 0 0;
			transition: transform .5s;
			transform: rotate(0deg);
		}
		&.active:after {
			transform: rotate(180deg);
		}
	}
	&-pannel {
		@include Align-middle;
		width: 2.6rem;
		height: 2.6rem;
		padding:0;
		position: relative;
		cursor: pointer;
	}
	&-link{
		@include Vertical-inline;
		box-sizing: border-box;
		line-height: 1;
		color:#2B2B2B;
		border-bottom: 1px solid #2B2B2B;
		font-size: 1.1rem;
		padding-bottom: .1rem;
	}





}

a.btn {
	@include Inline-align-middle;
	//line-height: 40px;
}