.btn-group{
	@include Align-middle;
	.btn{
		margin: 0 .4rem;
	}
}
.btn-group-justified{
	@include Clear;
	padding-top: 10px;
	//margin-bottom: -20px;
}

.btn{
	@include Vertical-inline;
	height: 4.7rem;
	padding: 0 1rem;
	box-sizing: border-box;
	line-height: 1;
	color:#2B2B2B;
	&-default{
		width: 100%;
		color: #fff;
		border-radius: 1rem;
		font-size: 1.4rem;
		border: 1px solid #B4B8BF;
		background-color: #B4B8BF;
		pointer-events: none;
		@include Bold;
		&.noRadius {
			border-radius: 0;
		}
		&.active {
			border: 1px solid #2B2B2B;
			background-color: #2B2B2B;
			pointer-events: auto;
		}
	}
	&-simple{
		border: 1px solid #ccc;
		height: 2.8rem;
		border-radius: 1rem;
		font-size:1.1rem;
		padding:0 .9rem;
		&.active{
			color: #0074b2;
			border-color: #0074b2;
		}
	}
	&-toggle {
		width: 1.7rem;
		height: 1.7rem;
		position: relative;
		cursor: pointer;
		&:after {
			display: block;
			content: '';
			@include Position($top: 50%, $right: 50%);
			@include Background($sprite:'ico-arrow-down', $type:'png', $size:100% auto, $position:center center);
			width: .9rem;
			height: .9rem;
			margin: -.45rem -.45rem 0 0;
			transition: transform .5s;
			transform: rotate(0deg);
		}
		&.active:after {
			transform: rotate(180deg);
		}
	}


	&-link{
		padding: 0 0 0 15px;
		color: #0061a0;
		box-shadow: none;
		text-decoration: underline;
		position: relative;
		.icon-larr{
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -3px;
		}
	}
	&-primary{
		background-color: #000;
	}
	&-secondary{
		background-color: #0061a0;
	}
	&-secondary-light{
		background-color: #007abc;
	}
	&-dark{
		background-color: #5a5a5a;
	}
	&-light{
		background-color: #828282;
	}
	&-more{
		position: relative;
		padding-right: 22px;
		color: #0074b2;
		font-size: 14px;
		text-decoration: none;
		.icon{
			position: absolute;
			right: 6px;
			bottom: 27px;
			&:before,
			&:after{
				content: '';
				position: absolute;
				right: 0;
				display: inline-block;
				width: 2px;
				height: 12px;
				background-color: #2377c5;
			}
			&:after{
				top: 0;
				transform: rotate(90deg);
			}
		}
	}
	&-search,
	&-cancel,
	&-modify,
	&-submit {
		display: inline-block;
		padding: 0 20px;
	}
	&-search{
		background-color: #5a5a5a;
	}
	&-review,
	&-auth{
		width: 90px;
		height: 30px;
		line-height: 30px;
		padding: 0;
		margin: 4px 0;
		box-shadow: none;
	}
	&-minus{
		width: 26px;
		height: 26px;
		padding: 0;
	}
	&-plus{
		width: 26px;
		height: 26px;
		padding: 0;
	}
}

a.btn {
	@include Inline-align-middle;
	//line-height: 40px;
}