.selectbox {
	box-sizing: border-box;
	border: 1px solid #EBEBEB;
	border-radius: 1rem;
	position: relative;
	background-color: #fff;
	height: 4.1rem;
	padding: 0 2.5rem 0 .9rem;
	width: 100%;
	@include Background($sprite:'ico-arrow-down', $type:'png', $size:.9rem, $position: center right .9rem); 

}

.inputR {
	@include Vertical-inline;
	font-size: 0;
	input {display: none;}
	label {
		i {
			@include Background($sprite:'ico-radio-off', $type:'png', $size:95% auto, $position:center center);
			width: 1.5rem;
			height: 1.5rem;
		}
		span {
			@include Vertical-inline;
			font-size: 1.2rem;
			margin-left: .4rem;
		}
	}
	input:checked + label {
		i {
			@include Background($sprite:'ico-radio-on', $type:'png', $size:95% auto, $position:center center);
		}
	}
}

.radioIconBox {
	label {
		@include Align-middle;
		transition: all .4s;
		box-sizing: border-box;
		border: .15rem solid #EBEBEB;
		flex-flow: column;
		border-radius: 1rem;
		position: relative;
		:after {
			display: block;
			content: '';
			@include Position($top: .7rem, $right: .7rem);
			@include Background($sprite:'ico-radio-off', $type:'png', $size:95% auto, $position:center center);
			width: 1.5rem;
			height: 1.5rem;
		}
	}
	input:checked + label {
		border-color: #2B2B2B;
		@include Bold;
		:after {
			@include Background($sprite:'ico-radio-on', $type:'png', $size:95% auto, $position:center center);
		}
	}
	input {
		display: none;
	}
}
.iconBox {
	label {
		@include Align-between;
		transition: all .4s;
		box-sizing: border-box;
		border: 1px solid #EBEBEB;
		border-radius: 1rem;
		position: relative;
		background-color: #fff;
		height: 4.1rem;
		padding: 0 .9rem 0 2.6rem;
		&:after {
			display: block;
			content: '';
			@include Position($top: 50%, $left: .7rem);
			@include Background($sprite:'ico-radio-off', $type:'png', $size:95% auto, $position:center center);
			width: 1.5rem;
			height: 1.5rem;
			margin-top: -.75rem;
		}
	}
	input[type='checkbox'] + label:after{
		@include Background($sprite:'ico-chk-off', $type:'png', $size:95% auto, $position:center center);
	}
	input:checked + label {
		border-color: #2B2B2B;
		@include Bold;
		&:after {
			@include Background($sprite:'ico-radio-on', $type:'png', $size:95% auto, $position:center center);
		}
	}
	input[type='checkbox']:checked + label:after{
		@include Background($sprite:'ico-chk-on', $type:'png', $size:95% auto, $position:center center);
	}
	input {
		display: none;
	}
	& + .iconBox {margin-top:.6rem;}
}

.iconList {
	box-sizing: border-box;
	border: 1px solid #EBEBEB;
	border-radius: 1rem;
	@include Align-box;
	overflow: hidden;
	li {
		width: 100%;
		input {
			display: none;
		}
		label {
			cursor: pointer;
			background-color: #F9FAFC;
			height: 4.2rem;
			display: block;
			box-sizing: border-box;
			@include Align-middle;
		}
		input:checked + label {
			background-color: #fff;
			color: #F04040;
			@include Bold;
		}
		& + li label{border-left: 1px solid #EBEBEB;}
	}
	&.col2 li {width: 50%;}
	&.col3 li {width: 33.333%;}
	&.col4 li {width: 25%;}
	&.col5 li {width: 20%;}
}











