.icon {
    @include Vertical-inline;
    @include Hide_txt;
    flex: none;
    &.filter {
        @include Background($sprite:'ico-select', $size:100% auto, $position:center center);
        width: 1.1rem;
        height: 1.1rem; 
    }
    &.filterClose {
        @include Background($sprite:'ico-close', $size:100% auto, $position:center center);
        width: 0.7rem;
        height: 0.7rem;
    }
    &.fast {
        @include Background($sprite:'ico-estimate-btn1', $size:100% auto, $position:center center);
        width: 0.9rem;
        height: 0.9rem;
    }
    &.pro {
        @include Background($sprite:'ico-estimate-btn2', $size:100% auto, $position:center center);
        width: 0.9rem;
        height: 0.9rem;
    }
    &.prev {
        @include Background($sprite:'ico-prev', $size:100% auto, $position:center center);
        width: 0.5rem;
        height: 1rem;
    }
    &.next {
        @include Background($sprite:'ico-next', $size:100% auto, $position:center center);
        width: 0.5rem;
        height: 1rem;
    }
    &.next2 {
        @include Background($sprite:'ico-next02', $size:100% auto, $position:center center);
        width: 0.5rem;
        height: 1rem;
    }
    &.draw {
        @include Background($sprite:'ico-draw', $size:100% auto, $position:center center);
        width: 1.7rem;
        height: 1.7rem;
    }
    &.info {
        @include Background($sprite:'ico-info', $size:100% auto, $position:center center);
        width: 1.3rem;
        height: 1.3rem;
    }
    &.info2 {
        @include Background($sprite:'ico-info2', $size:100% auto, $position:center center);
        width: 1.3rem;
        height: 1.3rem;
    }
    &.fuelG {
        @include Background($sprite:'ico-fuel-g', $size:100% auto, $position:center center);
        width: 2.2rem;
        height: 2.2rem;
    }
    &.fuelD {
        @include Background($sprite:'ico-fuel-d', $size:100% auto, $position:center center);
        width: 2.2rem;
        height: 2.2rem;
    }
    &.fuelL {
        @include Background($sprite:'ico-fuel-l', $size:100% auto, $position:center center);
        width: 2.2rem;
        height: 2.2rem;
    }
    &.fuelL02 {
        @include Background($sprite:'ico-fuel-l02', $size:100% auto, $position:center center);
        width: 1.6rem;
        height: 2.2rem;
    }
    &.fuelH {
        @include Background($sprite:'ico-fuel-h', $size:100% auto, $position:center center);
        width: 2.2rem;
        height: 2.2rem;
    }
    &.fuelH02 {
        @include Background($sprite:'ico-fuel-h02', $size:100% auto, $position:center center);
        width: 2.6rem;
        height: 2.2rem;
    }
    &.fuelE {
        @include Background($sprite:'ico-fuel-e', $size:100% auto, $position:center center);
        width: 2.2rem;
        height: 2.2rem;
    }
    &.star {
        @include Background($sprite:'ico-star_off', $size:100% auto, $position:center center);
        width: 1.2rem;
        height: 1.2rem;
        &.active {
            @include Background($sprite:'ico-star_on', $size:100% auto, $position:center center);
        }
    }
    &.video {
        @include Background($sprite:'ico-play', $size:100% auto, $position:center center);
        width: 3.2rem;
        height: 3.2rem;
    }
    &.video02 {
        @include Background($sprite:'ico-play02', $size:100% auto, $position:center center);
        width: 4.5rem;
        height: 4.8rem;
    }
    &.heart {
        @include Background($sprite:'ico-heart', $size:100% auto, $position:center center);
        width: 1.3rem;
        height: 1.3rem;
    }
    &.reset {
        @include Background($sprite:'ico-reset', $size:100% auto, $position:center center);
        width: 1.1rem;
        height: 1.1rem;
    }
    &.home {
        @include Background($sprite:'ico-home', $size:90% auto, $position:center center);
        width: 1.9rem;
        height: 1.9rem;
    }
    &.alarm {
        @include Background($sprite:'ico-alarm', $size:85% auto, $position:center center);
        width: 1.9rem;
        height: 1.9rem;
    }
    &.setting {
        @include Background($sprite:'ico-setting', $size:95% auto, $position:center center);
        width: 1.9rem;
        height: 1.9rem;
    }
    &.pannelclose {
        @include Background($sprite:'ico-pannelclose', $size:85% auto, $position:center center);
        width: 1.9rem;
        height: 1.9rem;
    }
    &.pannel01 {
        @include Background($sprite:'ico-pannel01', $size:45% auto, $position:center center);
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 100%;
    }
    &.pannel02 {
        @include Background($sprite:'ico-pannel02', $size:45% auto, $position:center center);
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 100%;
    }
    &.pannel03 {
        @include Background($sprite:'ico-pannel03', $size:45% auto, $position:center center);
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 100%;
    }
    &.pannel04 {
        @include Background($sprite:'ico-pannel04', $size:35% auto, $position:center center);
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 100%;
    }
    &.pannel05 {
        @include Background($sprite:'ico-pannel05', $size:45% auto, $position:center center);
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 100%;
    }
    &.pannel06 {
        @include Background($sprite:'ico-pannel06', $size:45% auto, $position:center center);
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 100%;
    }
    &.pannel07 {
        @include Background($sprite:'ico-pannel07', $size:45% auto, $position:center center);
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 100%;
    }
    &.speak {
        @include Background($sprite:'ico-speak', $size:40% auto, $position:center center);
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 100%;
        border:1px solid #EBEBEB;
    }
    &.colors {
        width: 1.2rem;
        height: 1.2rem;
        border-radius: .4rem;
    }
    &.time {
        @include Background($sprite:'ico-time', $size:100% auto, $position:center center);
        width: 1rem;
        height: 1rem;
    }
    &.share {
        @include Background($sprite:'ico-share', $size:100% auto, $position:center center);
        width: 1.3rem;
        height: 1.3rem;
    }
    &.like {
        @include Background($sprite:'ico-like-off', $size:100% auto, $position:center center);
        width: 1.1rem;
        height: 1.1rem;
    }
    &.unlike {
        @include Background($sprite:'ico-unlike-off', $size:100% auto, $position:center center);
        width: 1.1rem;
        height: 1.1rem;
    }
    &.reply {
        @include Background($sprite:'ico-reply', $size:100% auto, $position:center center);
        width: 1.1rem;
        height: 1.1rem;
    }
    &.share2 {
        @include Background($sprite:'ico-share2', $size:85% auto, $position:center center);
        width: 1.1rem;
        height: 1.1rem;
    }
    &.writer {
        @include Background($sprite:'ico-writer', $size:98% auto, $position:center center);
        font-size: .9rem;
        width: 3.4rem;
        height: 1.6rem;
        color:#fff;
        @include Align-middle-left;
        @include Bold;
        padding-left:.4rem;
    }
    &.nochat {
        @include Background($sprite:'ico-nochat', $size:100% auto, $position:center center);
        width: 2.6rem;
        height: 2.6rem;
    }
    &.comment {
        @include Background($sprite:'ico-comment', $size:95% auto, $position:center center);
        width: 1.5rem;
        height: 1.5rem;
    }
    &.benefit01 {
        @include Background($sprite:'ico-benefit01', $size:100% auto, $position:center center);
        width: 5.5rem;
        height: 5.5rem;
    }
    &.benefit02 {
        @include Background($sprite:'ico-benefit02', $size:100% auto, $position:center center);
        width: 5.5rem;
        height: 5.5rem;
    }
    &.benefit03 {
        @include Background($sprite:'ico-benefit03', $size:100% auto, $position:center center);
        width: 5.5rem;
        height: 5.5rem;
    }
    &.bannerClose {
        @include Background($sprite:'ico-close02', $size:100% auto, $position:center center);
        width: 1.2rem;
        height: 1.2rem;
    }
    &.complete {
        @include Background($sprite:'ico-complete', $size:100% auto, $position:center center);
        width: 5.2rem;
        height: 5.2rem;
    }
    &.calendar {
        @include Background($sprite:'ico-calendar', $size:100% auto, $position:center center);
        width: 1.7rem;
        height: 2.2rem;
        @include Position($top: .9rem, $right: 1.3rem);
    }
    &.exclamation {
        @include Background($sprite:'ico-exclamation_mark', $size:100% auto, $position:center center);
        width: 5.2rem;
        height: 5.2rem;
    }
    &.phone {
        @include Background($sprite:'ico-phone', $size:100% auto, $position:center center);
        width: 3rem;
        height: 4rem;
    }
    &.mail {
        @include Background($sprite:'ico-mail', $size:100% auto, $position:center center);
        width: 3.5rem;
        height: 3.5rem;
    }
    &.people01 {
        @include Background($sprite:'ico-people01', $size:100% auto, $position:center center);
        width: 6rem;
        height: 6rem;
    }
    &.people02 {
        @include Background($sprite:'ico-people02', $size:100% auto, $position:center center);
        width: 6rem;
        height: 6rem;
    }
    &.people03 {
        @include Background($sprite:'ico-people03', $size:100% auto, $position:center center);
        width: 6rem;
        height: 6rem;
    }
    &.layerclose {
        @include Background($sprite:'ico-pannelclose', $size:95% auto, $position:center center);
        width: 1.4rem;
        height: 1.4rem;
    }
    &.layerclose02 {
        @include Background($sprite:'ico-pannelclose02', $size:100% auto, $position:center center);
        width: 1.4rem;
        height: 1.4rem;
    }
    &.layerclose03 {
        @include Background($sprite:'ico-close03', $size:100% auto, $position:center center);
        width: 2rem;
		height: 2rem;
    }
    &.magnifier {
        @include Background($sprite:'ico-magnifier', $size:100% auto, $position:center center);
        width: 1.7rem;
        height: 1.4rem;
    }
    &.fixedRight01 {
        @include Background($sprite:'ico-fixedRight01', $size:100% auto, $position:center center);
        width: 1.1rem;
        height: 1.5rem;
    }
    &.fixedRight02 {
        @include Background($sprite:'ico-fixedRight02', $size:100% auto, $position:center center);
        width: 1.3rem;
        height: 1.5rem;
    }
    &.fixedRight03 {
        @include Background($sprite:'ico-fixedRight03', $size:100% auto, $position:center center);
        width: 1.3rem;
        height: 1.5rem;
    }
    &.fixedRight04 {
        @include Background($sprite:'ico-fixedRight04', $size:100% auto, $position:center center);
        width: 1.3rem;
        height: 1.5rem;
    }
    &.fixedRight05 {
        @include Background($sprite:'ico-fixedRight05', $size:100% auto, $position:center center);
        width: 1.3rem;
        height: 1.5rem;
    }
    &.lpoint {
        @include Background($sprite:'ico-lpoint', $size:100% auto, $position:center center);
        width: 3.4rem;
        height: 3.6rem;
    }
    &.listCircle {
        @include Background($sprite:'ico-circle', $size:100% auto, $position:center center);
        width: 2px;
        height: 2px;
    }
    &.small {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 100%;
        @include Align-middle;
        @include Bold;
        font-size: 1rem;
        color:#fff;
        &.red {
            background-color: #F04040;
        }
        &.blue {
            background-color: #188CFF;
        }
        &.green {
            background-color: #61C468;
        }
        &.mint {
            background-color: #2CB7C3;
        }
    }
    &.plus {
        @include Background($sprite:'ico-plus', $size:100% auto, $position:center center);
        width: .9rem;
        height: .9rem;
    }
    &.enrollment {
        @include Background($sprite:'ico-plus', $size:100% auto, $position:center center);
        width: 1.4rem;
        height: 1.4rem;
    }
    &.remove {
        @include Background($sprite:'ico-pannelclose', $size:100% auto, $position:center center);
        width: .9rem;
        height: .9rem;
    }
    
}

//캐스케이드
button.active .like{
    @include Background($sprite:'ico-like-on', $size:100% auto, $position:center center);
}

button.active .unlike{
    @include Background($sprite:'ico-unlike-on', $size:100% auto, $position:center center);
}


.flag {
    height: 1.5rem;
    border-radius: 1rem;
    padding: 0 .5rem;
    font-size: .9rem;
    box-sizing: border-box;
    @include Inline-align-middle;
    @include Nomal;
    &.best {
        border: 1px solid #25C1D6;
        color: #25C1D6;
        margin-left: .4rem;
        @include Bold;
    }
    &.low {
        border: 1px solid #9198FF;
        color: #9198FF;
        margin-left: .4rem;
        @include Bold;
    }
    &.hot {
        border: 1px solid #20BBC4;
        color: #20BBC4;
        @include Bold;
    }
    &.think {
        border: 1px solid #5793E5;
        color: #5793E5;
        @include Bold;
    }
    &.battle {
        border: 1px solid #9198FF;
        color: #9198FF;
        @include Bold;
    }
    &.fast {
        @include Position($top: .5rem, $left: .5rem);
        @include Bold;
        font-size: 1rem;
        color: #fff;
        height: 1.7rem;
        border-radius: 1rem;
        padding: 0 .7rem;
        background-color:#406FF0;
        i {margin-right: .5rem;}
    }
    &.pro {
        @include Position($top: .5rem, $left: .5rem);
        @include Bold;
        font-size: 1rem;
        color: #fff;
        height: 1.7rem;
        border-radius: 1rem;
        padding: 0 .7rem;
        background-color:#02B174;
        i {margin-right: .5rem;}
    }
    &.time {
        @include Position($top:0, $left: 1.3rem);
        font-size:0;
        background-color: #F04040;
        height: 2.6rem;
        border-radius: 0 0 1rem 1rem;
        padding: 0 1rem;
        z-index: 2;
        i {margin-right: .5rem;}
        p{
            @include Vertical-inline;
            @include Bold;
            font-size:1rem;
            color:#fff;
        }
    }
    &.circle {
        @include Position($bottom: -1.9rem, $right: 1.3rem);
        @include Bold;
        @include Align-middle;
        border-radius: 100%;
        line-height: 1.3;
        font-size:1rem;
        height: 4.1rem;
        width: 4.1rem;
        color:#fff;
        background-color: #F04040;
        z-index: 2;
        &.off {
            background-color: #B4B8BF;
        }
    }
    &.num {
        @include Position($top: 0, $left: 0);
        background-color: #1E1E1E;
        color: #fff;
        height: 1.7rem;
        width: 1.7rem;
        border-radius: 0 0 .8rem 0;
        @include Bold;
    }
}

.flag-wrap {
    @include Position($top: .5rem, $left: .5rem);
    z-index: 2;
    .flag{
        @include Position($position:static);
        @include Align-middle;
        margin-bottom:.4rem;
    }
}
.flag-bottom-wrap {
    @include Position($bottom: -.85rem, $left: 1.3rem);
    font-size: 0;
    z-index: 2;
    .flag{
        @include Position($position:static);
        margin-right:.6rem;
    }
}

.flag-inline-wrap {
    font-size: 0;
    .flag {
        margin-right: .4rem;
    }
}
