.inner {
    width: 1080px;
    margin: 0 auto;
    position: relative;
}
.skip_nav {
    @include Position($top: 0, $left: 0);
    display: inline-block;
    width: 0;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 0;
    color: #fff;
    background-color: #f40404;
}

.path-wrap {
    margin-top:50px;
    .inner {
        @include Align-between;
        > strong {
            @include Bold;
            font-size: 15px;
            color:#F04040;
        }
        > ul {
            @include Align-middle-left;
            > li {
                @include Align-middle-left;
                > a{
                    font-size: 13px;
                }
                > b{
                    font-size: 13px;
                    color:#999;
                }
                & + li{
                    &:before {
                        display: block;
                        content: '>';
                        color: #999;
                        margin: 0 6px;
                    }
                    > a {
                        color: #999;
                    }
                }
            }
        }
    }
}


#wrap {
    
}