.btn{
	@include Vertical-inline;
	height: 40px;
	padding: 0 15px;
	box-sizing: border-box;
	line-height: 1;
	color:#2B2B2B;
	&-family{
		background-color: #fff;
		border: 1px solid #EBEBEB;
		border-radius: 5px;
		font-size: 13px;
		padding-right: 35px;
		@include Background($sprite:'ico-select3', $size:6px, $position: center right 15px); 
	}
}