/*
	fixedBottom : z-index: 41, 
	풀팝업: z-index: 45, 
	딤, bottomAlert(토스트메시지): z-index: 50, 
	일반팝업, 슬라이드 팝업: z-index: 60, 
	패널(drawer): z-index: 70, 
*/
body.fixed {
	overflow: hidden;
	position: fixed;
	#wrap {
		//pointer-events: none;
	}
}
.bg-dimmed {
	@include Hide_txt;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: {
		color: #000;
	}
	opacity: 0.5;
	z-index: 50;
}

.layer {
	&-wrap {
		line-height: 1;
		z-index: 60;
	}

		//팝업 형태
		&-popup {
			position: fixed;
			width:100%;
			display: none;
			&.active {
				display: block !important;
				opacity: 1 !important;
			}
			.pop-inner {
				overflow: hidden;
				border-radius:20px;
				background-color:#f4f4f4;
				margin:10px;
				position: relative;
			}
			.pop-cont {
				position: relative;-webkit-box-sizing:border-box;box-sizing:border-box;
			}
		}
}
