.tab{
	&-menu{
		max-width: 880px;
		margin: 40px auto 65px;
		border: 1px solid #0061a0;
		border-left: none;
		ul{
			display: table;
			table-layout: fixed;
			width: 100%;
		}
		li{
			display: table-cell;
			height: 40px;
			border-left: 1px solid #0061a0;
			text-align: center;
			//background-color: #fff;
			box-sizing: border-box;
			a{
				display: block;
				color: #0061a0;
				font-size: 14px;
				font-weight: 700;
				line-height: 40px;
			}
			&.active{
				background-color: #0061a0;
				a{
					color: #fff;
				}
			}
			&.is-mobile{
				display: none;
			}
		}
	}
}

.tab-btns{
	display: block;
	max-width: 880px;
	margin: 0 auto;
	.btn{
		display: inline-block;
		margin: 0 2px;
		padding: 0;
		box-shadow: none;
		border-radius: 0;
	}
}