$medium-devices: 768px;
$small-devices: 480px;
$extra-small-devices: 320px;

@mixin Clear {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}
@mixin Nomal {
	font-family:"ManropeL", "NotoL", serif;
	font-weight: normal;
}
@mixin Bold {
	font-family:"ManropeB", "NotoB", serif;
	font-weight: normal;
}

@mixin NoscrollBar {
	scrollbar-width: none;
    -ms-overflow-style: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

@mixin Vertical-inline {
	display: inline-block;
	vertical-align: middle;
}

@mixin Align-box {
	display: flex;
	flex-wrap: wrap;
}

@mixin Align-middle {
	display: flex;
	align-items: center;
	justify-content: center;
}
@mixin Align-middle-column {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}
@mixin Align-middle-left {
	display: flex;
	align-items: center;
}
@mixin Align-middle-right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
@mixin Align-top-left {
	display: flex;
	align-items: flex-start;
	justify-content: left;
}
@mixin Align-bottom-middle {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
@mixin Align-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@mixin Align-between-top {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

@mixin Inline-align-middle {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

@mixin Inline-align-top {
	display: inline-flex;
	align-items: flex-start;
	justify-content: center;
}
@mixin Inline-align-top-left-flex-wrap {
	display: inline-flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap : wrap;
}


/*인라인 가로스크롤*/
@mixin Inline-scrolling {
	box-sizing: border-box;
	font-size:0;
	overflow-x: visible;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
	width: 100%;
	padding-bottom: .2rem;
}

/*폰트만 삭제시킴*/
@mixin Hide_txt {
    font:0/0 a;
}

/*투명도 믹스인*/
@mixin Opacity($opacity) {
	opacity: $opacity; /* All modern browsers */
	$opacityIE: $opacity * 100;
	filter: alpha(opacity=$opacityIE); /* For IE5~IE9 */
}

/*포지션 믹스인*/
//@include Position($top: 0, $left: 0)
@mixin Position($position:absolute, $top: null, $right: null, $bottom: null, $left: null) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

/*백그라운드 믹스인*/
//@include Background($sprite:'error', $type:'png', $position:right center); ---  사용법
//@include Background($sprite:'error', $type:'jpg', $y:0); ---  사용법
//@include Background($sprite:'error', $type:'jpg', $position:20% 20%, $size:100%); ---  사용법
@mixin Background($sprite, $type:'png', $position:0 0, $size:auto, $path:'icons') {
	background-repeat: no-repeat;
	background-image: url('../../resources-pc/images/#{$path}/#{$sprite}.#{$type}');
	background-position: $position;
	background-size: $size;
}

/* 말줄임표 */
// 인자 값의 기본 값은 1
// @include Ellipsis($w:100px, $lines:2); --- 사용법
@mixin Ellipsis($w:100%, $lines:1, $display:block) { 
	@if ($lines == 1) {
		width:$w;
		display:$display;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	} @else {
		width:$w;
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: $lines;
		-webkit-box-orient: vertical;
		word-break: break-all;
	}
}

/*미디어쿼리 믹스인*/
//@include media( $queryPoint: "(max-width:480px)" ){
	//width : 50%;
//}
@mixin media( $queryPoint ){
	@media #{ $queryPoint } {
		@content;
	}
}






