.contract-wrap {
    .detail-view-rest{
        position: relative;
        background-color:#2B2B2B;
        height:4.1rem;
        & > span{
            position:absolute;
            top:50%;
            left:2.2rem;
            transform: translateY(-50%);
            font-size:1.2rem;
            color:#fff;
        }
        & > ul{
            position: absolute;
            top:50%;
            right:2.2rem;
            transform: translateY(-50%);
            & > li{
                @include Vertical-inline;
                border-radius: 50%;
                color:#999;
                box-sizing: border-box;
                border:.15rem solid #999;
                width:1.7rem;
                height:1.7rem;
                position: relative;
                margin-right:.9rem;
                & > span{
                    display:inline-block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    font-size:1.2rem;
                    font-weight: bold;
                }
                &:after{
                    display:block;
                    content: "";
                    position: absolute;
                    top:50%;
                    right:-1.1rem;
                    transform: translateY(-20%);
                    border-top:.15rem dashed #999;
                    width:50%;
                }
                &:last-child{
                    margin-right:0;
                }
                &:last-child:after{
                    display:none;
                }
                &.active{
                    background-color:#fff;
                    border-color:#fff;
                    color:#2B2B2B;
                }
            }
        }
    }
    .detail-view{
        position: sticky;
        top: 0;
        left: 0;
        margin-bottom: -1.5rem;
        background-color:#EFF2F7;
        padding:2rem 1.7rem 0;
        .detail-view-approval{
            height:2.8rem;
            background-color:#fff;
            border-radius: 2rem;
            @include Align-middle;
            & > strong{
                @include Bold;
                display:inline-block;
                padding-left:1.2rem;
            }
        }
        .detail-view-info{
            padding-top:1.7rem;
            line-height:1.3;
            & > strong{
                @include Bold;
                padding-top:.4rem;
            }
        }
        .detail-view-img{
            padding-top:.4rem;
            width:70%;
            margin:0 auto;
        }
    }
    .detail-layout {
        position: relative;
        z-index: 1;
        background-color: #EFF2F7;
        border-radius: 2rem 2rem 0 0;
        .detail-layer-cont {
            position: relative;
            .detail-layer-cont-limited{
                background-color: #fff;
                padding: 0 1.7rem 2.3rem;
                border-radius: 0 0 1.5rem 1.5rem;
                .detail-layer-cont-pchase{
                    width:100%;
                    padding:1.7rem 0 2.2rem 0;
                    border-top:.15rem solid #EBEBEB;
                    & > span{
                        display:inline-block;
                        width:49%;
                    }
                    & > em{
                        display:inline-block;
                        color:#F04040;
                        @include Bold;
                        width:49%;
                    }
                }
                & > .table{
                    border-radius: 1.5rem;
                    border:.15rem solid #EBEBEB;
                    margin-bottom:.9rem;
                    & > table tr:first-child th{
                        border-top:0 none;
                    }
                    & > table tr:first-child td{
                        border-top:0 none;
                    }
                }
                .summary-toggle-btn{
                    @include Align-middle-column;
                    &:after {
                        top:50%;
                        right:35%;
                    }
                }
            }
        }
        .layer-item {
            margin-top:1.1rem;
            background-color:#fff;
            border-radius: 1.5rem;
            padding: 1.7rem 0 2.3rem;
            h3 {
                margin: 0 1.7rem;
                padding-bottom: 1.7rem;
                @include Align-middle;
                span {
                    display: block;
                    text-align: center;
                    text-transform: uppercase;
                    @include Align-middle;
                    font-size: 1.5rem;
                    margin-left:.4rem;
                }
                strong {
                    font-size: 1.5rem;
                    @include Bold;
                    @include Align-middle;
                    button {
                        margin-left: .4rem;
                    }
                }
            }
            &.item-step1 {
                h3 {border-bottom: .15rem solid #EBEBEB;}
                .item-cont {
                    padding: 0 1.7rem;
                }
                .coupon-all{
                    padding: 2.3rem 1.7rem 1.7rem;
                    @include Bold;
                    b {color: #F04040;margin-left: .4rem;}
                }
                .guide {
                    font-size: 1.1rem;
                    line-height: 1.3;
                    margin-top: 1.2rem;
                    text-indent: -1.4rem;
                    padding-left:1.7rem;
                    & > li{
                        margin-top:.4rem;
                    }
                    & > li:first-child{
                        margin-top:0;
                    }
                }
            }
            &.item-step2 {
                h3 {border-bottom: .15rem solid #EBEBEB;}
                .item-cont {
                    padding: 0 1.7rem;
                    & > ul{
                        & > li{
                            @include Align-middle;
                            padding-top:1.2rem;
                            & > .detail-layer-inputT-tit{
                                width:20%;
                                @include Bold;
                            }
                            & > div.detail-layer-inputT-tit{
                                width:100%;
                            }
                            & > div.detail-layer-inputT-tit ~ .inputT{
                                width:100%;
                            }
                            .inputT{
                                width:80%;
                                &  > input:disabled{
                                    background-color:#FAFAFA; 
                                }
                            }
                            .list-type-col3{
                                width:100%;
                                margin-left:0;
                                & > .inputT{
                                    width:28%;
                                    margin-left:1.7rem;
                                }
                                & > .inputT:first-child{
                                    margin-left:0;
                                }
                                & > .inputT:first-child:after{
                                    display:none;
                                }
                                & > .inputT:after{
                                    display: block;
                                    content: "";
                                    border-left: 1rem solid #2B2B2B;
                                    position: absolute;
                                    top: 50%;
                                    left: -1.4rem;
                                    height: 0.15rem;
                                }
                            }
                        }
                        .detail-list-opt-address{
                            padding-top:2.8rem;
                            .list-opt-address-tit{
                                position: relative;
                                width:100%;
                                & > .detail-layer-inputT-tit{
                                    @include Bold;
                                }
                                .detail-layer-iconBox{
                                    position: absolute;
                                    top:50%;
                                    transform: translateY(-50%);
                                    right:0;
                                    & > label{
                                        background-color:transparent;
                                        border:0 none;
                                    }
                                }
                            }
                            .detail-layer-inputT-number{
                                display:flex;
                                li{
                                    position: relative;
                                    &:first-child{
                                        width:70%;
                                    }
                                    &:last-child{
                                        width:30%;
                                    }
                                    & > input{
                                        border:.15rem solid #EBEBEB;
                                        border-right:0 none;
                                        border-radius: 1rem 0 0 1rem;
                                        background-color: #fff;
                                        height: 4.1rem;
                                        width:100%;
                                        padding:0 1.2rem;
                                    }
                                    & > button{
                                        width:100%;
                                        height: 4.1rem;
                                        border-radius: 0 1rem 1rem 0; 
                                        background-color:#EBEBEB;
                                        border-color:#EBEBEB;
                                        color:#2B2B2B;
                                        font-size:1.2rem;
                                    }
                                }
                            }
                            & > .inputT{
                                width:100%;
                                padding-top:1.2rem;
                            }
                        }
                    }
                }
                .guide{
                    font-size: 1.1rem;
                    line-height: 1.3;
                    margin-top: 1.2rem;
                    color: #999;
                    padding: 0 1.7rem;
                }
            }
            &.item-step3 {
                h3 {border-bottom: .15rem solid #EBEBEB;}
                .item-cont {
                    padding: 0 1.7rem;
                    & > ul{
                        margin-top: 2.6rem;
                        & > li{
                            position: relative;
                            padding-top:1.2rem;
                            h4{
                                @include Bold;
                                @include Align-middle;
                                justify-content: left;
                                margin-bottom: 1rem;
                            }
                            .list-type-col4{
                                width:100%;
                                margin-left:0;
                                & > .inputT{
                                    width:17%;
                                    margin-left:1.4rem;
                                }
                                & > .inputT:first-child{
                                    margin-left:0;
                                    width:20%;
                                }
                                & > .inputT:nth-child(3){
                                    width:30%;
                                }
                                & > .inputT:first-child:after{
                                    display:none;
                                }
                                & > .inputT:after{
                                    display: block;
                                    content: "";
                                    border-left: .6rem solid #2B2B2B;
                                    position: absolute;
                                    top: 50%;
                                    left: -1rem;
                                    height: 0.15rem;
                                }
                            }
                            .guide{
                                font-size: 1.1rem;
                                line-height: 1.3;
                                margin-top: 1.2rem;
                                text-indent: -1.4rem;
                                padding-left:1.7rem;
                            }
                        }
                    }
                }
            }
            &.item-step4 {
                h3 {border-bottom: .15rem solid #EBEBEB;}
                .item-cont {
                    padding: 0 1.7rem;
                }
            }
            &.item-step5 {
                h3 {border-bottom: .15rem solid #EBEBEB;}
                .item-cont {
                    padding: 0 1.7rem;
                    h4{
                        margin-top: 2.6rem;
                        @include Bold;
                        @include Align-middle;
                        justify-content: left;
                        margin-bottom: 1rem;
                    }
                    .inputT{
                        &  > input:disabled{
                            background-color:#FAFAFA;
                        }
                    }
                }
                .guide{
                    font-size: 1.1rem;
                    line-height: 1.3;
                    margin-top: 1.2rem;
                    color: #999;
                    padding: 0 1.7rem;
                }
            }
            &.item-step6 {
                h3 {border-bottom: .15rem solid #EBEBEB;}
                .item-cont {
                    padding: 0 1.7rem;
                    h4{
                        margin-top: 2.6rem;
                        @include Bold;
                        @include Align-middle;
                        justify-content: left;
                        margin-bottom: 1rem;
                    }
                    .detail-layer-inputT-number{
                        display:flex;
                        li{
                            position: relative;
                            &:first-child{
                                width:70%;
                            }
                            &:last-child{
                                width:30%;
                            }
                            & > input{
                                border:.15rem solid #EBEBEB;
                                border-right:0 none;
                                border-radius: 1rem 0 0 1rem;
                                background-color: #fff;
                                height: 4.1rem;
                                width:100%;
                                padding:0 1.2rem;
                            }
                            & > button{
                                width:100%;
                                height: 4.1rem;
                                border-radius: 0 1rem 1rem 0; 
                                background-color:#EBEBEB;
                                border-color:#EBEBEB;
                                color:#2B2B2B;
                                font-size:1.2rem;
                            }
                        }
                    }
                }
                .guide{
                    font-size: 1.1rem;
                    line-height: 1.3;
                    margin-top: 1.2rem;
                    color: #999;
                    padding: 0 1.7rem;
                }
            }
        }
        .detail-layer-submit{
            padding: 2.6rem 1.7rem;
        }
    }
    .detail-layer-top {
        position: relative;
        display: flex;
        flex-flow: column;
        align-items:left;
        justify-content: center;
        background-color: #fff;
        padding:0 1.7rem;
        overflow: hidden;
        border-radius: 2rem 2rem 0 0;
        // height: 12rem;
        .normal{
            margin:0 auto;
            color:#2B2B2B;
            padding: 4.2rem 0 2.2rem 0;
            & > strong{
                font-size:2.8rem;
                @include Bold;
            }
            & > em{
                display:block;
                font-size:1rem;
                color:#999;
                padding-top:.4rem;
            }
        }
    }
}