.estimate-wrap {
    background-color: #EFF2F7;
    line-height: 1;
    .section-nav {
        @include Position( $position:sticky, $top: 0, $left: 0);
        @include NoscrollBar;
        @include Inline-scrolling;
        @include Bold;
        background-color: #EFF2F7;
		padding-left: 1.7rem;
		color: #000;
        letter-spacing: 0;
        z-index: 1;
		a {
            font-size:2.4rem;
			position: relative;
			display: inline-block;
            padding: 1rem 0 0.8rem;
            margin-right: 1.5rem;
			color:#CBCED2;
			line-height: 1;
			&.active {
				color:#2B2B2B;
				&:after {
					display: block;
					content: '';
					@include Position( $bottom: 0, $left: 50%);
					z-index: 1;
					width: .5rem;
					height: .5rem;
					margin-left: -.2rem;
					border-radius: 100%;
					background-color: #F04040;
				}
			}
		}
    }

    .section-filter {
        padding:2rem 0 2.6rem;
        .selection {
            @include Align-between;
            padding: 0 1.7rem;
            select {
                width:50%;
                height: 4rem;
                padding: 0 3rem 0 2rem;
                background-color: #fff;
                border-radius: .5rem;
                margin-right: .5rem;
                @include Background($sprite:'ico-detail', $type:'png', $size:1.1rem, $position: center right 2rem); 
            }
            button {
                width:50%;
                height: 4rem;
                padding: 0 3rem 0 2rem;
                background-color: #2B2B2B;
                border-radius: .5rem;
                margin-left: .5rem;
                text-align: left;
                @include Align-between;
                span {
                    color: #fff;
                }
            }
        }
        .result {
            .text {
                text-align: center;
                margin:2.4rem 0 0;
                span {
                    color: #F04040;
                }
            }
            .filter-list {
                @include Inline-scrolling;
                @include NoscrollBar;
                padding-left: 1.7rem;
                margin:2.4rem 0 0;
                button {
                    @include Inline-align-middle;
                    background-color: #fff;
                    margin-right:.8rem;
                    height: 2.8rem;
                    font-size: 1.2rem;
                    border-radius: 2rem;
                    border: 0.15rem solid #2B2B2B;
                    padding: 0 1.2rem;
                    i {
                        margin-left: .7rem;
                    }
                }
            }
        }
    }

    .section-list {
        padding: 0 1.2rem;
        ul {
            @include Align-box;
            li {
                width: 50%;
                margin-bottom:2rem;
                a {
                    display: block;
                    margin: 0 .5rem;
                }

                .img {
                    position: relative;
                    overflow: hidden;
                    border-radius: 1rem;
                    background-color: #fff;
                    img {width: 100%;}
                    .flag {
                        @include Position($top: .5rem, $left: .5rem);
                        font-size: 1rem;
                        @include Bold;
                        color: #fff;
                        height: 1.7rem;
                        border-radius: 1rem;
                        padding: 0 .7rem;
                        @include Inline-align-middle;
                        &.fast {background-color:#406FF0;}
                        &.pro {background-color:#02B174;}
                        i {margin-right: .5rem;}
                    }
                }
                .text {
                    strong {
                        margin-top: 1rem;
                        display: block;
                    }
                    span {
                        margin-top: .4rem;
                        display: block;
                    }
                }

            }
        }
    }

    .section-detail {

        .detail-view{
            position: sticky;
            top: 0;
            left: 0;
            margin-bottom: -1.5rem;

            .swiper-pagination-wrap{
                @include Position($bottom:2rem, $left:0);
                @include Align-middle;
                width: 100%;
                z-index: 1;
                .swiper-pagination {
                    position: static;
                    background-color: rgba(255, 255, 255, .7);
                    height: 2rem;
                    padding: 0 1.4rem;
                    border-radius: 1rem;
                    @include Align-middle;
                    .swiper-pagination-bullet {
                        @include Inline-align-middle;
                        margin: 0 .4rem;
                        width: auto;
                        height: auto;
                        border-radius: none;
                        background-color: transparent;
                        border:0;
                        opacity: 1;
                        //transition: all .4s;
                        &:before {
                            display: inline-block;
                            content: '';
                            width: .5rem;
                            height: .5rem;
                            border-radius: 100%;
                            background-color: #ccc;
                        }
                        &:after {
                            display: inline-block;
                            content: '';
                            width: 0;
                            transition: width .6s;
                        }
                        &.swiper-pagination-bullet-active {
                            &:before {
                                background-color: transparent;
                                border: 0.3rem solid #2B2B2B;
                                width: .3rem;
                                height: .3rem;
                            }
                            
                            &:after {
                                width: 1.3rem;
                                height: .3rem;
                                background-color: #2B2B2B;
                                border-radius: 0 .5rem .5rem 0;
                            }
                        }
                    }
                }
            }

        }

        .detail-layout {
            position: relative;
            z-index: 1;
            background-color: #fff;
            border-radius: 2rem 2rem 0 0;
        }
    }
    
}