.exhibition-wrap {
 
    .exhibition-view {

        .exhibition-view-list li {
            display: inline-block;
            width:28rem !important;
            vertical-align: top;
            text-align: left;
            margin-left: -2rem;
            margin-right: 2.7rem;
        }

    }




}