@charset "UTF-8";
/*인라인 가로스크롤*/
/*폰트만 삭제시킴*/
/*투명도 믹스인*/
/*포지션 믹스인*/
/*백그라운드 믹스인*/
/* 말줄임표 */
/*미디어쿼리 믹스인*/
.estimate-wrap {
	background-color: #EFF2F7;
}

.estimate-wrap .section-nav {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 0;
	scrollbar-width: none;
	-ms-overflow-style: none;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	font-size: 0;
	overflow-x: visible;
	overflow-y: hidden;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	padding-bottom: .2rem;
	/*font-family:"ManropeB", "NotoM", serif;*/
	font-family: "SpoqaB", serif;
	font-weight: normal;
	background-color: #EFF2F7;
	padding-left: 1.7rem;
	color: #000;
	letter-spacing: 0;
	z-index: 1;
}

.estimate-wrap .section-nav::-webkit-scrollbar {
	display: none;
}

.estimate-wrap .section-nav a {
	font-size: 2.4rem;
	position: relative;
	display: inline-block;
	padding: 1rem 0 0.8rem;
	margin-right: 1.5rem;
	color: #CBCED2;
	line-height: 1;
}

.estimate-wrap .section-nav a.active {
	color: #2B2B2B;
}

.estimate-wrap .section-nav a.active:after {
	display: block;
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	z-index: 1;
	width: .5rem;
	height: .5rem;
	margin-left: -.2rem;
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
	        border-radius: 100%;
	background-color: #F04040;
}

.estimate-wrap .section-filter {
	padding: 2rem 0 2.6rem;
}

.estimate-wrap .section-filter .selection {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 0 1.7rem;
}

.estimate-wrap .section-filter .selection select {
	width: 50%;
	height: 4rem;
	padding: 0 3rem 0 2rem;
	background-color: #fff;
	-webkit-border-radius: .5rem;
	   -moz-border-radius: .5rem;
	        border-radius: .5rem;
	margin-right: .5rem;
	background-repeat: no-repeat;
	background-image: url("../../resources-mo/images/icons/ico-detail.png");
	background-position: center right 2rem;
	-webkit-background-size: 1.1rem 1.1rem;
	   -moz-background-size: 1.1rem;
	        background-size: 1.1rem;
}

.estimate-wrap .section-filter .selection button {
	width: 50%;
	height: 4rem;
	padding: 0 3rem 0 2rem;
	background-color: #2B2B2B;
	-webkit-border-radius: .5rem;
	   -moz-border-radius: .5rem;
	        border-radius: .5rem;
	margin-left: .5rem;
	text-align: left;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.estimate-wrap .section-filter .selection button span {
	color: #fff;
}

.estimate-wrap .section-filter .result .text {
	text-align: center;
	margin: 2.4rem 0 0;
}

.estimate-wrap .section-filter .result .text span {
	color: #F04040;
}

.estimate-wrap .section-filter .result .filter-list {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	font-size: 0;
	overflow-x: visible;
	overflow-y: hidden;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	padding-bottom: .2rem;
	scrollbar-width: none;
	-ms-overflow-style: none;
	padding-left: 1.7rem;
	margin: 2.4rem 0 0;
}

.estimate-wrap .section-filter .result .filter-list::-webkit-scrollbar {
	display: none;
}

.estimate-wrap .section-filter .result .filter-list button {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-color: #fff;
	margin-right: .8rem;
	height: 2.8rem;
	font-size: 1.2rem;
	-webkit-border-radius: 2rem;
	   -moz-border-radius: 2rem;
	        border-radius: 2rem;
	border: 0.15rem solid #2B2B2B;
	padding: 0 1.2rem;
}

.estimate-wrap .section-filter .result .filter-list button i {
	margin-left: .7rem;
}

.estimate-wrap .section-list {
	padding: 0 1.2rem;
}

.estimate-wrap .section-list ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

.estimate-wrap .section-list ul li {
	width: 50%;
	margin-bottom: 2rem;
}

.estimate-wrap .section-list ul li a {
	display: block;
	margin: 0 .5rem;
}

.estimate-wrap .section-list ul li .img {
	position: relative;
	overflow: hidden;
	-webkit-border-radius: 1rem;
	   -moz-border-radius: 1rem;
	        border-radius: 1rem;
	background-color: #fff;
}

.estimate-wrap .section-list ul li .img img {
	width: 100%;
}

.estimate-wrap .section-list ul li .img .flag {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	font-size: 1rem;
	/*font-family:"ManropeB", "NotoM", serif;*/
	font-family: "SpoqaB", serif;
	font-weight: normal;
	color: #fff;
	height: 1.7rem;
	-webkit-border-radius: 1rem;
	   -moz-border-radius: 1rem;
	        border-radius: 1rem;
	padding: 0 .7rem;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.estimate-wrap .section-list ul li .img .flag.fast {
	background-color: #406FF0;
}

.estimate-wrap .section-list ul li .img .flag.pro {
	background-color: #02B174;
}

.estimate-wrap .section-list ul li .img .flag i {
	margin-right: .5rem;
}

.estimate-wrap .section-list ul li .text strong {
	margin-top: 1rem;
	display: block;
}

.estimate-wrap .section-list ul li .text span {
	margin-top: .4rem;
	display: block;
}

.estimate-wrap .section-detail .detail-view {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 0;
	margin-bottom: -1.5rem;
}

.estimate-wrap .section-detail .detail-view .swiper-pagination-wrap {
	position: absolute;
	bottom: 2rem;
	left: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100%;
	z-index: 1;
}

.estimate-wrap .section-detail .detail-view .swiper-pagination-wrap .swiper-pagination {
	position: static;
	background-color: rgba(255, 255, 255, 0.7);
	height: 2rem;
	padding: 0 1.4rem;
	-webkit-border-radius: 1rem;
	   -moz-border-radius: 1rem;
	        border-radius: 1rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.estimate-wrap .section-detail .detail-view .swiper-pagination-wrap .swiper-pagination .swiper-pagination-bullet {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 0 .4rem;
	width: auto;
	height: auto;
	-webkit-border-radius: none;
	   -moz-border-radius: none;
	        border-radius: none;
	background-color: transparent;
	border: 0;
	opacity: 1;
}

.estimate-wrap .section-detail .detail-view .swiper-pagination-wrap .swiper-pagination .swiper-pagination-bullet:before {
	display: inline-block;
	content: '';
	width: .5rem;
	height: .5rem;
	-webkit-border-radius: 100%;
	   -moz-border-radius: 100%;
	        border-radius: 100%;
	background-color: #ccc;
}

.estimate-wrap .section-detail .detail-view .swiper-pagination-wrap .swiper-pagination .swiper-pagination-bullet:after {
	display: inline-block;
	content: '';
	width: 0;
	-webkit-transition: width .6s;
	-o-transition: width .6s;
	-moz-transition: width .6s;
	transition: width .6s;
}

.estimate-wrap .section-detail .detail-view .swiper-pagination-wrap .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:before {
	background-color: transparent;
	border: 0.3rem solid #2B2B2B;
	width: .3rem;
	height: .3rem;
}

.estimate-wrap .section-detail .detail-view .swiper-pagination-wrap .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:after {
	width: 1.3rem;
	height: .3rem;
	background-color: #2B2B2B;
	-webkit-border-radius: 0 .5rem .5rem 0;
	   -moz-border-radius: 0 .5rem .5rem 0;
	        border-radius: 0 .5rem .5rem 0;
}

.estimate-wrap .section-detail .detail-layout {
	position: relative;
	z-index: 1;
	background-color: #EFF2F7;
	-webkit-border-radius: 2rem 2rem 0 0;
	   -moz-border-radius: 2rem 2rem 0 0;
	        border-radius: 2rem 2rem 0 0;
}

.estimate-wrap .section-detail .detail-layout .detail-layer-top {
	position: relative;
	background-color: #fff;
	padding: 1.7rem 1.7rem 2.6rem;
	overflow: hidden;
	-webkit-border-radius: 2rem 2rem 0 0;
	   -moz-border-radius: 2rem 2rem 0 0;
	        border-radius: 2rem 2rem 0 0;
}

.estimate-wrap .section-detail .detail-layout .detail-layer-top .logo {
	width: 4rem;
}

.estimate-wrap .section-detail .detail-layout .detail-layer-top h2 {
	/*font-family:"ManropeB", "NotoM", serif;*/
	font-family: "SpoqaB", serif;
	font-weight: normal;
	font-size: 1.7rem;
	margin-top: .7rem;
}

.estimate-wrap .section-detail .detail-layout .detail-layer-top ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	max-width: 30rem;
	margin-top: 1.5rem;
}

.estimate-wrap .section-detail .detail-layout .detail-layer-top ul li {
	font-size: 1.1rem;
}

.estimate-wrap .section-detail .detail-layout .detail-layer-top .btn-group {
	position: absolute;
	top: 1.7rem;
	right: 1.7rem;
}

.estimate-wrap .section-detail .detail-layout .detail-layer-cont {
	position: relative;
}

.estimate-wrap .section-detail .detail-layout .detail-layer-nav {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	overflow: hidden;
	background-color: #2B2B2B;
	z-index: 1;
}

.estimate-wrap .section-detail .detail-layout .detail-layer-nav button {
	color: #fff;
	font-size: 1.3rem;
	height: 4.2rem;
	padding: 1.3rem;
	color: #999;
	border-bottom: 0.15rem solid #2B2B2B;
}

.estimate-wrap .section-detail .detail-layout .detail-layer-nav button.active {
	/*font-family:"ManropeB", "NotoM", serif;*/
	font-family: "SpoqaB", serif;
	font-weight: normal;
	color: #fff;
	border-color: #F04040;
}

.estimate-wrap .section-detail .detail-layout .layer-item {
	margin-top: 1.1rem;
	background-color: #fff;
	-webkit-border-radius: 1.5rem;
	   -moz-border-radius: 1.5rem;
	        border-radius: 1.5rem;
	padding: 1.7rem 0 2.3rem;
}

.estimate-wrap .section-detail .detail-layout .layer-item h3 {
	margin: 0 1.7rem;
	padding-bottom: 1.7rem;
}

.estimate-wrap .section-detail .detail-layout .layer-item h3 span {
	font-size: 1rem;
	color: #ccc;
	display: block;
	text-align: center;
	margin-bottom: .4rem;
}

.estimate-wrap .section-detail .detail-layout .layer-item h3 strong {
	font-size: 1.5rem;
	/*font-family:"ManropeB", "NotoM", serif;*/
	font-family: "SpoqaB", serif;
	font-weight: normal;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.estimate-wrap .section-detail .detail-layout .layer-item h3 strong button {
	margin-left: .4rem;
}

.estimate-wrap .section-detail .detail-layout .layer-item.item-step1 .item-cont .radio-box {
	padding: 0 1.7rem;
}

.estimate-wrap .section-detail .detail-layout .layer-item.item-step1 .item-cont ul label {
	height: 7.5rem;
}

.estimate-wrap .section-detail .detail-layout .layer-item.item-step1 .item-cont ul label span {
	display: block;
	line-height: 1;
	margin-top: .7rem;
}

.estimate-wrap .section-detail .detail-layout .layer-item.item-step1 .item-cont .electric {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-color: #F9FAFC;
	border-top: 1px solid #EBEBEB;
	border-bottom: 1px solid #EBEBEB;
	height: 4.1rem;
	margin-top: 1.4rem;
	position: relative;
	display: none;
}

.estimate-wrap .section-detail .detail-layout .layer-item.item-step1 .item-cont .electric.active {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}

.estimate-wrap .section-detail .detail-layout .layer-item.item-step1 .item-cont .electric:after {
	display: block;
	content: '';
	position: absolute;
	top: -1rem;
	left: 50%;
	background-repeat: no-repeat;
	background-image: url("../../resources-mo/images/icons/ico-arrow.png");
	background-position: center center;
	-webkit-background-size: 100% auto;
	   -moz-background-size: 100% auto;
	        background-size: 100% auto;
	width: 1.3rem;
	height: 1.3rem;
	margin-left: -.75rem;
}

.estimate-wrap .section-detail .detail-layout .layer-item.item-step1 .item-cont .electric .inputR + .inputR {
	margin-left: 2rem;
}

.estimate-wrap .section-detail .detail-layout .layer-item.item-step2 h3 {
	border-bottom: 1px solid #EBEBEB;
}

.estimate-wrap .section-detail .detail-layout .layer-item.item-step2 .item-cont .guide {
	font-size: 1.1rem;
	line-height: 1.3;
	margin-top: 1.2rem;
	color: #999;
	padding: 0 1.7rem;
}

.estimate-wrap .section-detail .detail-layout .layer-item.item-step2 .item-cont .model-all {
	padding: 2.3rem 1.7rem 1.7rem;
	/*font-family:"ManropeB", "NotoM", serif;*/
	font-family: "SpoqaB", serif;
	font-weight: normal;
}

.estimate-wrap .section-detail .detail-layout .layer-item.item-step2 .item-cont .model-all b {
	color: #F04040;
	margin-left: .4rem;
}

.estimate-wrap .section-detail .detail-layout .layer-item.item-step2 .item-cont .model-list ul {
	border-top: 1px solid #EBEBEB;
}

.estimate-wrap .section-detail .detail-layout .layer-item.item-step2 .item-cont .model-list li {
	border-bottom: 1px solid #EBEBEB;
}

.estimate-wrap .section-detail .detail-layout .layer-item.item-step2 .item-cont .model-toggle-btn {
	padding: 1.7rem;
	cursor: pointer;
	position: relative;
}

.estimate-wrap .section-detail .detail-layout .layer-item.item-step2 .item-cont .model-toggle-btn:after {
	display: block;
	content: '';
	position: absolute;
	top: 2rem;
	right: 1.7rem;
	background-repeat: no-repeat;
	background-image: url("../../resources-mo/images/icons/ico-arrow-down.png");
	background-position: center center;
	-webkit-background-size: 100% auto;
	   -moz-background-size: 100% auto;
	        background-size: 100% auto;
	width: .9rem;
	height: .9rem;
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	-o-transition: -o-transform .5s;
	-moz-transition: transform .5s, -moz-transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s, -moz-transform .5s, -o-transform .5s;
	-webkit-transform: rotate(0deg);
	   -moz-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	     -o-transform: rotate(0deg);
	        transform: rotate(0deg);
}

.estimate-wrap .section-detail .detail-layout .layer-item.item-step2 .item-cont .model-toggle-btn.active {
	background-color: #F9FAFC;
	padding-bottom: 0;
	/*font-family:"ManropeB", "NotoM", serif;*/
	font-family: "SpoqaB", serif;
	font-weight: normal;
}

.estimate-wrap .section-detail .detail-layout .layer-item.item-step2 .item-cont .model-toggle-btn.active:after {
	-webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	     -o-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.estimate-wrap .section-detail .detail-layout .layer-item.item-step2 .item-cont .model-toggle-cont {
	display: none;
	background-color: #F9FAFC;
	padding: 1.7rem;
}

.estimate-wrap .section-detail .detail-layout .layer-item.item-step2 .item-cont .model-toggle-cont .radioIconBox2 + .radioIconBox2 {
	margin-top: .9rem;
}

.estimate-wrap .section-detail .detail-layout .layer-item.item-step3 h3 {
	border-bottom: 1px solid #EBEBEB;
}

.estimate-wrap .section-detail .detail-layout .layer-item.item-step6 h3 {
	border-bottom: 1px solid #EBEBEB;
}

/*# sourceMappingURL=../maps/contents.css.map */
