.drawer {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 70;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform .4s;
    @include Background($sprite:'error', $type:'png');
    &.active {
        transform: translateX(0);
    }
}