
.header{
	position: sticky;
    top: -6.5rem;
    left: 0;
    z-index: 31;
    box-sizing: border-box;
    width: 100%;
	height: 10rem;
	background-color: #fff;
	&-top{
		box-sizing: border-box;
		width: 100%;
		height: 6.5rem;
		background-color: #fff;
		transition: all .5s ease .01ms;
		font-size:1.7rem;
		h1{
			text-align: center;
			a {
				display: inline-block;
			}
			img {
				height: 37px;
				transition: height .5s ease 0.01ms;
			}
		}

		.btn-drawer{
			display: inline-block;
			position: absolute;
			top: 26px;
			right: 30px;
			color: #000;
			font-size: 14px;
			font-weight: 400;
			transition: top 0.5s ease 0.01ms;
			&-text{
				//margin-left: 10px;
				vertical-align: middle;
			}
			&-closetext{
				display: none;
			}
			.icon {
				position: relative;
				display: inline-block;
				width: 21px;
				height: 17px;
			}
			.line{
				position: absolute;
				top: 50%;
				left: 0;
				display: block;
				width: 17px;
				height: 3px;
				margin-top: -1.5px;
				background-color: #323232;
				transform-origin: center;
				transition:
					transform 0.3s ease-in-out,
					margin-top 0.15s ease-in-out 0.3s,
					opacity 0.15s ease-in-out 0.3s,
					background 0.3s ease;
				&-1{
					transform: translateY(-6px);
				}
				&-2 {
					transition-delay: 0.2s;
				}
				&-3{
					transform: translateY(6px);
				}
			}
			&.on {
				.line{
					transition:
						transform 0.3s ease-in-out,
						margin-top 0.15s ease-in-out,
						opacity 0.15s ease-in-out 0.1s;
					&-1{
						transform: rotate(135deg);
					}
					&-2{
						opacity: 0;
					}
					&-3{
						transform: rotate(225deg);
					}
				}
				&-opentext{
					display: none;
				}
				&-closetext{
					display: inline-block;
				}
			}
		}


	}

	&-nav {
		@include NoscrollBar;
		font-size:1.5rem;
		overflow-x: visible;
		overflow-y: hidden;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;
		padding-left: 3.1rem;
		color: #000;
		letter-spacing: 0;
		a {
			position: relative;
			display: inline-block;
			padding: 1rem 1.2rem 1rem 1.3rem;

			&.active:after {
				display: block;
				content: '';
				@include Position( $top: .2rem, $left: 50%);
				z-index: 1;
				width: .5rem;
				height: .5rem;
				margin-left: -.2rem;
				border-radius: 50%;
				background-color: #000;
			}
		}
	}

}